header {
    border: solid 5px teal;
    background-color: darkgray;
    text-align: center;
    font-family: Bernard MT Condensed;
    border-radius: 25px;
    width: 900px;
    margin: auto;
}

body {
    background-color: black;
}

main {
    border: solid 3px teal;
    background-color: darkgrey;
    font-family: Bernard MT Condensed;
    border-radius: 25px;
    width: 900px;
    margin: auto;
    margin-top: 25px;
}

h1 {
    font-size: 50px;
    text-align: center
}

aside {
    background-color: darkgrey;
    border: solid 2px teal;
    padding-right: 200px;
    float: right;

}