body {
    background-color: turquoise;
}
h1 {
    color: coral;
    background-color: teal;
    border: solid 1px black;
}
h2{
    background-color: teal;
    color: coral;
    border: solid 1px black;
}
header